//Copyright (C)2014-2020 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7.01Beta
//Part Number: GW1NSR-LV4CQN48PC7/I6
//Device: GW1NSR-4C
//Created Time: Fri 06 11 14:54:37 2021

IO_LOC "O_tmds_clk_p" 28,27;
IO_PORT "O_tmds_clk_p" PULL_MODE=NONE DRIVE=3.5;
IO_LOC "O_tmds_data_0_p" 30,29;
IO_PORT "O_tmds_data_0_p" PULL_MODE=NONE DRIVE=3.5;
IO_LOC "O_tmds_data_1_p" 32,31;
IO_PORT "O_tmds_data_1_p" PULL_MODE=NONE DRIVE=3.5;
IO_LOC "O_tmds_data_2_p" 35,34;
IO_PORT "O_tmds_data_2_p" PULL_MODE=NONE DRIVE=3.5;

IO_LOC "O_led[0]" 10;
IO_PORT "O_led[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC "I_reset_n" 14;
IO_PORT "I_reset_n" PULL_MODE=UP;
IO_LOC "I_clk" 45;
IO_PORT "I_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// Gameboy video pinout
IO_PORT "gb_hsync" PULL_MODE=DOWN;
IO_LOC "gb_hsync" 43;
IO_PORT "gb_vsync" PULL_MODE=DOWN;
IO_LOC "gb_vsync" 39;
IO_PORT "gb_clk" PULL_MODE=DOWN;
IO_LOC "gb_clk" 40;
IO_PORT "gb_data[0]" PULL_MODE=DOWN;
IO_LOC "gb_data[0]" 41;
IO_PORT "gb_data[1]" PULL_MODE=DOWN;
IO_LOC "gb_data[1]" 42;

// Gameboy pad pinout
IO_PORT "gbpad_a"      PULL_MODE=DOWN;
IO_PORT "gbpad_b"      PULL_MODE=DOWN;
IO_PORT "gbpad_select" PULL_MODE=DOWN;
IO_PORT "gbpad_start"  PULL_MODE=DOWN;
IO_PORT "gbpad_right"  PULL_MODE=DOWN;
IO_PORT "gbpad_left"   PULL_MODE=DOWN;
IO_PORT "gbpad_up"     PULL_MODE=DOWN;
IO_PORT "gbpad_down"   PULL_MODE=DOWN;

IO_LOC "gbpad_a"      16;
IO_LOC "gbpad_b"      13;
IO_LOC "gbpad_select" 17;
IO_LOC "gbpad_start"  18;
IO_LOC "gbpad_right"  19;
IO_LOC "gbpad_left"   20;
IO_LOC "gbpad_up"     21;
IO_LOC "gbpad_down"   22;

// SNES keypad pinout
IO_PORT "snes_dclock" PULL_MODE=DOWN;
IO_PORT "snes_dlatch" PULL_MODE=DOWN;
IO_PORT "snes_sdata" PULL_MODE=DOWN;
IO_LOC "snes_dclock" 47;
IO_LOC "snes_dlatch" 48;
IO_LOC "snes_sdata" 1;
