//Copyright (C)2014-2020 Gowin Semiconductor Corporation.
//All rights reserved.
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7.01Beta
//Part Number: GW1NSR-LV4CQN48PC7/I6
//Device: GW1NSR-4C
//Created Time: Fri 06 11 14:54:37 2021

IO_LOC "O_tmds_clk_p" 28,27;
IO_PORT "O_tmds_clk_p" PULL_MODE=NONE DRIVE=3.5;
IO_LOC "O_tmds_data_0_p" 30,29;
IO_PORT "O_tmds_data_0_p" PULL_MODE=NONE DRIVE=3.5;
IO_LOC "O_tmds_data_1_p" 32,31;
IO_PORT "O_tmds_data_1_p" PULL_MODE=NONE DRIVE=3.5;
IO_LOC "O_tmds_data_2_p" 35,34;
IO_PORT "O_tmds_data_2_p" PULL_MODE=NONE DRIVE=3.5;

IO_LOC "O_led[0]" 10;
IO_PORT "O_led[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_led[1]" 44;

IO_LOC "I_reset_n" 14;
IO_PORT "I_reset_n" PULL_MODE=UP;
IO_LOC "I_clk" 45;
IO_PORT "I_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// Gameboy video pinout
IO_PORT "gb_hsync" PULL_MODE=DOWN;
IO_LOC "gb_hsync" 43;
IO_PORT "gb_vsync" PULL_MODE=DOWN;
IO_LOC "gb_vsync" 39;
IO_PORT "gb_clk" PULL_MODE=DOWN;
IO_LOC "gb_clk" 40;
IO_PORT "gb_data[0]" PULL_MODE=DOWN;
IO_LOC "gb_data[0]" 41;
IO_PORT "gb_data[1]" PULL_MODE=DOWN;
IO_LOC "gb_data[1]" 42;

// Gameboy pad pinout
IO_PORT "P10" PULL_MODE=UP;
IO_PORT "P11" PULL_MODE=UP;
IO_PORT "P12" PULL_MODE=UP;
IO_PORT "P13" PULL_MODE=UP;
IO_PORT "gbpad_right"  PULL_MODE=DOWN;
IO_PORT "gbpad_left"   PULL_MODE=DOWN;
IO_PORT "P14" PULL_MODE=UP;
IO_PORT "P15" PULL_MODE=UP;

IO_LOC "P10" 18; //"gbpad_a"
IO_LOC "P11" 19; //"gbpad_b"
IO_LOC "P12" 20; //"gbpad_select"
IO_LOC "P13" 21; //"gbpad_start"
//IO_LOC "gbpad_right" 19; //"gbpad_right"
//IO_LOC "gbpad_left"  20; //"gbpad_left"
IO_LOC "P14" 22; //"gbpad_up"
IO_LOC "P15" 23; //"gbpad_down"


// SNES keypad pinout
IO_PORT "snes_dclock" PULL_MODE=DOWN;
IO_PORT "snes_dlatch" PULL_MODE=DOWN;
IO_PORT "snes_sdata" PULL_MODE=DOWN;
IO_LOC "snes_dclock" 17;
IO_LOC "snes_dlatch" 13;
IO_LOC "snes_sdata" 16;
